body{
	margin:0 40px;
}

main{
	line-height:1.5;
}

header{
  background-image:url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	border-top:4px solid black;
}

section{
  position: absolute;
  bottom:0px;
	left:20%;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color:#222;
	font-size:35px;
}

span{
  font-size:60px;
  color:#222;
}

p{
	font-family: 'Josefin Sans', sans-serif;
  color:#222;
	margin-top:50px;
}

ul{
	font-family: 'Josefin Sans', sans-serif;
  color:#222;
	list-style-type:square;
	margin:35px 0 35px 0;
}

.first{
  font-size:18px;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}

.site{
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}

blockquote{
  color:white;
  background-color:#4b4b4a;
  font-size:45px;
  padding:50px 25px;
  position:relative;
	margin:0;
	max-width:750px;
	margin-left:auto;
	margin-right:auto;
}

blockquote::before{
	content: '\201C';
  position:absolute;
  top:0;
  left:0;
	font-size:100px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
  color:#222;
  text-transform: uppercase;
  margin:50px 0;
}

h3{
	font-family: 'Josefin Sans', sans-serif;
  color:#222;
  font-size:22px;
  margin-bottom:0;
}

.capitalize{
  text-transform: capitalize;
  font-size:23px;
}

.subtitles{
  font-family: 'Merriweather', serif;
  font-size:15px;
  font-style:italic;
  font-weight:bold;
  margin:0;
}

hr{
  margin:50px 0;
  border:2px solid #222;
}
